@section PageTitle {eLearning About}
@section StyleSheet {
    <link rel="stylesheet" href="~/css/About.css" />
}

@section NavBarOptions {
    <ul class="navbar-nav mr-auto"></ul>
}

@section NavBarButtons {
    <!-- Navbar buttom place holder -->
}

@section Scripts {
    <script src="~/js/About.js"></script>
}
<main>
    <div>

        <img class="about-img img-circle" src="~/images/brian.jpg" />
        <p>Those who strive for mediocrity usually achieve it.<br>
        Death is only the end if you assume the story is about you.</p>
    </div>
    <div>
        <img class ="about-img img-circle" src="~/images/mike.jpg" />
        <p>I have a question....</p>
    </div>
    <div>
        <img class ="about-img img-circle" src="~/images/terri.jpg" />
        <p>Never give up. Never stop believing. Never stop fighting.</p>
    </div>
</main>
