@section PageTitle {eLearning Contact}
@section StyleSheet {
    <link rel="stylesheet" href="~/css/Contact.css" />
}


@section NavBarOptions {
    <ul class="navbar-nav mr-auto"></ul>
}

@section NavBarButtons {
    <!-- Navbar buttom place holder -->
}

@section Scripts {
    <script src="~/js/Contact.js"></script>
}

<address>
    1600 Pensylvania Ave.<br />
    Washington, D.C. 20045<br />
    <abbr title="Phone">P:</abbr>
    202.555.1212
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@yellowduckacademy.com">Support@yellowduckacademy.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@yellowduckacademy.com">Marketing@yellowduckacademy.com</a>
</address>
