@section PageTitle {eLearning Logout}
@section StyleSheet {
    <link rel="stylesheet" href="~/css/LogoutPage.css" />
}

@section NavBarOptions {
    <ul class="navbar-nav mr-auto"></ul>
}

@section NavBarButtons {
    <!-- Navbar buttom place holder -->
}

@section Scripts {
    <script src="~/js/LogoutPage.js"></script>
}
<main>
    <span>Please come back Soon!</span>
</main>