<footer class="foot" id="ydfooter">
         <hr />
         <div class="footerInfo">
             <div class="footer-brand">
                 <a href="/">
                     <img id="footer-logo" src="~/images/Light Yellow Duck.png" />
                 </a>
                 <p>&copy; 2019 - eLearning</p>
                 <a class="footer-link" href="/home/about" id="footerAbout">About Us</a>
                 <a class="footer-link" href="/home/contact" id="footerContact">Contact Us</a>
             </div>
         </div>  
</footer>
