main{
	background-color: aliceblue;
}

main {
    display: flex;
    flex-direction: column;
}

.student-data-line {
	display: flex;
	flex-direction: row;
}
h2 {
	padding-bottom: 5%;
}

h4 {
	width: 25%;
}

.progress {
	width: 50%;
}